@import "constants/constans.scss";

.profile {
    margin-top: toRem(24);

    &_wrapper {
        display: grid;
        grid-template-columns: toRem(312) 1fr;
        align-items: flex-start;
        column-gap: toRem(24);
        padding-bottom: toRem(24);
    }

    &_background {
        position: relative;
        width: 100%;
        height: toRem(194);
        border-radius: toRem(16);
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #0000007a;
            z-index: 1;
        }

        &_color {
            position: absolute;
            width: 100%;
            height: 100%;
            background: $grey;
        }

        &_change {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }
}
