@import "constants/constans.scss";

.chart {
    position: relative;

    &_inner {
        position: absolute;
        transform: translate(-50%, -50%);
        visibility: hidden;
        user-select: none;
        z-index: -1;
    }

    &_empty {
        position: absolute;
        top: 0;
        border: toRem(40) solid $grey;
        border-radius: 50%;
        // transform: translate(-50%, -50%);
        // visibility: hidden;
        // user-select: none;
        // z-index: -1;
    }
}
