@import "constants/constans.scss";

.artboardBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & img {
        position: absolute;
        object-fit: contain;
        top: 50%;
        left: toRem(-160);
        transform: translateY(-50%) rotate(-19.44deg);
    }
}
