@use "sass:math";

// Подключение переменных ===========================================================================================================================================================================================================================================================================
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "assets/styles/base/mixins";

$fontSize: toRem(16);
$lineHeight: 137.5%; /* 22/16 */

// Переменные ==============================================================================================================================================================================================================================================================================
$mainColor: var(--main-color);

$dark: var(--dark);
$dark_purple: var(--dark-purple);

$grey: var(--grey);
$grey_light: var(--grey-light);
$grey_lavander: var(--grey-lavender);

$grey_bg_linear: linear-gradient(0deg, rgba(57, 60, 77, 0.36), rgba(57, 60, 77, 0.36)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));

$grey_misty: var(--grey-misty);
$grey_misty_36: rgba(var(--grey-misty), 0.36);
$grey_misty_12: rgba(var(--grey-misty), 0.12);

$grey_pale: var(--grey-pale);
$grey_light_pale: var(--grey-light-pale);

$accent: var(--accent);
$accent_light: var(--accent-light);

$blue_pale: var(--blue-pale);
$white: var(--white);
$red: var(--red);
$green: var(--green);
$gold: var(--gold);

$transparent_color: var(--transparent-color);

$box_shadow: 0 toRem(12) toRem(24) toRem(-4) var(--box-shadow-color);
$radius: toRem(12);
$transition: 0.2s ease;
$bg_blur: blur(toRem(5));
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1350;

// Брейк-поинты
$pc: em(1439.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
