@import "constants/constans.scss";

.avatar {
    @include flexRow(center, center);
    width: fit-content;
    color: $white;
    text-transform: uppercase;
    border-radius: 50%;
    overflow: hidden;

    &.square {
        border-radius: toRem(16);
    }

    & span {
        @include flexRow(center, center);
        @include background-accent();

        text-align: center;
        font-size: toRem(24);
        text-transform: uppercase;
        user-select: none;

        html[data-theme="dark"] & {
            color: $dark;
            border-color: transparent;
            background: $grey;
        }
    }
}
